.header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.header_left{
    display: flex;
    align-items: center;
    background-color: white;
    min-width: 70px;
    padding: 10px;
    flex: 0.5;
    border-radius: 30px;
    color: black;
}

.header_left > input{
    border: none;
    width: 100%;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 5px 10px;
    width: 145px;
    border-radius: 30px;
    
}

.header_right h4{
    margin-left: 10px;
}